<!--Menu de encabezado-->
<!--ts logo y telefono-->       
<header>
    <div class="logo">
        <img [src]="logocondor" alt="Logo" />
        <span>+45363723</span>
    </div>
    <div class="search">
        <input type="text" placeholder="Buscar Producto" />
        <button type="button">🔍</button>
    </div>
    <nav>
        <a href="#ofertas" class="offers">OFERTAS</a>
        <a href="#contacto">Contacto</a>
        <a href="#iniciar-sesion">Iniciar sesión</a>
    </nav>
</header>
<router-outlet></router-outlet>