<!--Menu de encabezado-->
<!--ts logo y telefono-->       
<header>
    <div class="logo">
        <img [src]="logocondor" alt="Logo" />
        <span>+45363723</span>
    </div>
    <div class="search">
        <input type="text" placeholder="Buscar Producto" />
        <button type="button">🔍</button>
    </div>
    <nav>
        <a href="#ofertas" class="offers">OFERTAS</a>
        <a href="">Inicio</a>
        <a href="/contacto">
            <img [src]="iconcontacto" alt="Contacto" class="icon" />Contacto</a>

        <a href="/auth/IniciarSesion">
            <img [src]="iconlogin" alt="Login" class="icon" />Iniciar sesión</a>

            <a href="/usuarios">
                <img [src]="iconuser" alt="User" class="icon" />usuario</a>
    </nav>
</header>
<router-outlet></router-outlet>