<!--Menu de encabezado-->
<!--ts logo y telefono-->
<header>
  <div class="logo">
    <img [src]="logocondor" alt="Logo" />
    <span>+45363723</span>
  </div>
  <div class="search">
    <input type="text" placeholder="Buscar Producto" />
    <button type="button">🔍</button>
  </div>
  <nav>
    <a routerLink="#ofertas" class="offers">OFERTAS</a>
    <a routerLink="">Inicio</a>
    <a routerLink="/contacto">
      <img [src]="iconcontacto" alt="Contacto" class="icon" />Contacto</a
    >
    <a routerLink="/iniciarSesion">
      <img [src]="iconlogin" alt="Login" class="icon" />Iniciar sesión</a
    >
  </nav>
</header>
<div class="layout">
  <router-outlet></router-outlet>
</div>
