<!-- <div class="product-list-detail-modal">
    <h2>Lista de productos</h2>
    
    <div class="product-table">
      <div class="table-header">
        <span>Producto</span>
        <span>Cantidad</span>
        <span>Desc</span>
        <span>SubTotal</span>
        <span>Total</span>
      </div>
  
      <div *ngFor="let producto of productos" class="table-row">
        <span>{{ producto.nombre }} <br> Q{{ producto.precio }}</span>
  
        <div class="quantity-controls">
          <button (click)="decreaseQuantity(producto)">-</button>
          <span>{{ producto.cantidad }}</span>
          <button (click)="increaseQuantity(producto)">+</button>
        </div>
  
        <input type="number" min="0" max="producto.disponible" [(ngModel)]="producto.descuento" class="desc-input" />
  
        <span>Q{{ producto.precio * producto.cantidad }}</span>
        <span>Q{{ (producto.precio * producto.cantidad) - producto.descuento }}</span>
      </div>
    </div>
  
    <div class="totals">
      <div>
        <span>SubTotal</span>
        <span>Q{{ calcularSubTotal() }}</span>
      </div>
      <div>
        <span>Total</span>
        <span>Q{{ calcularTotal() }}</span>
      </div>
    </div>
  
    <div class="action-buttons">
      <button class="cancel-btn" (click)="close()">Cancelar Venta</button>
      <button class="confirm-btn" (click)="confirmarVenta()">Confirmar venta</button>
    </div>
  </div>
   -->