<h2 class="" mat-dialog-title>{{isEditMode ? 'Editar producto': 'Crear un nuevo producto'}}</h2>
<mat-dialog-content class="mat-typography w-full">
  <form [formGroup]="loginForm">
    <div class="flex flex-wrap md:mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 sm:w-full">
        <app-input-field label="Nombre Porducto:*" type="text" placeholder="Ingrese el nombre"
          [control]="getFormControl('nombre')"></app-input-field>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 sm:w-full">
        <mat-radio-group formControlName="status">
          <mat-radio-button value="I">Inactivo</mat-radio-button>
          <mat-radio-button value="A">Activo</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="flex flex-wrap md:mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 sm:w-full">
          <app-input-field label="Categoría Porducto:*" type="text" placeholder="Ingrese categoría"
            [control]="getFormControl('nombre')"></app-input-field>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 sm:w-full">
            <app-input-field label="Unidades:*" type="text" placeholder="Unidades"
              [control]="getFormControl('nombre')"></app-input-field>
          </div>
    </div>

    <div class="flex flex-wrap md:mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 sm:w-full">
          <app-input-field label="Precio:*" type="text" placeholder="precio"
            [control]="getFormControl('nombre')"></app-input-field>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 sm:w-full">
            <app-input-field label="Proveedor:*" type="text" placeholder="proveedor"
              [control]="getFormControl('nombre')"></app-input-field>
          </div>
    </div>


    <div class="flex flex-wrap md:mb-6">
        <div class="flex flex-wrap md:mb-6">
         <app-image-uploader [control]="getFormControl('profileImg')" [imageUrl]="imgUrl"
           label="Agregar imagen del producto"></app-image-uploader>
        </div>
      <div class="w-full  px-3 mb-6 md:mb-0 sm:w-full">
        <app-input-text-area label="Descripcion Producto:*" placeholder="Ingrese la descipcion"
          [control]="getFormControl('descripcion')">
        </app-input-text-area>
      </div>
    </div>
    
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <app-btn-close (click)="onCloseModal()"></app-btn-close>
  <app-btn-accept (click)="onSubmit()"></app-btn-accept>
</mat-dialog-actions>