<div class="list-inputs">
  <app-input-search [searchMessage]="searchMessage" (searchChange)="onSearch($event)"></app-input-search>
  <button type="button" class="btn-add" (click)="onOpenModal()"><mat-icon>add</mat-icon></button>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let item">{{item.id}}</td>
      </ng-container>

      <!-- Foto Column -->
      <ng-container matColumnDef="img">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Imagen</th>
        <td mat-cell *matCellDef="let item"><img class="imgFoto" [src]="item.img" alt=""></td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="nombre">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let item">{{item.nombre}}</td>
      </ng-container>


      <!-- First Name Column -->
      <ng-container matColumnDef="categoria">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let item">{{item.categoria}}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let item">{{item.estado}}</td>
      </ng-container>
      <ng-container matColumnDef="unidad">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Unidades</th>
        <td mat-cell *matCellDef="let item">{{item.unidad}}</td>
      </ng-container>
      <ng-container matColumnDef="Precio Compra">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Precio Compra</th>
        <td mat-cell *matCellDef="let item">{{item.compra}}</td>
      </ng-container>

      <ng-container matColumnDef="proveedor">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Proveedor</th>
        <td mat-cell *matCellDef="let item">{{item.proveedor}}</td>
      </ng-container>

      <!-- Last Login Column -->
      <ng-container matColumnDef="acciones">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let item" class="actions-cell">
          <div class="actions-container">
            <button mat-icon-button class="btnVer" (click)="onViewDetails(item.id)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button class="btnEditar" (click)="onEdit(item.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="btnEliminar" (click)="onDelete(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Table Headers and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
  </div>
</div>

<mat-sidenav #sidenav mode="over" position="end" [opened]="false" class="custom-sidenav">
  <app-producto-detail-popup [id]="selectedId" (closeSidenav)="closeSidenav()"></app-producto-detail-popup>
 </mat-sidenav>
