@font-face {
  font-family: 'PoppinsBlack';
  src: url('../../public/fonts/Poppins-Black.ttf');
}

@font-face {
  font-family: 'PoppinsExtraBold';
  src: url('../../public/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('../../public/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../../public/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url('../../public/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('../../public/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'PopponsLight';
  src: url('../../public/fonts/Poppins-Light.ttf');
}
