:root{
    --bg-color: #FAF8F4;
    --primary-color: #FF9F43;
    --txt-orange-color: #FF7C18;
    --orange-pale-color: #FAF4E6;

    --white-color : #FFFFFF;

    --contrast-blue-color: #0F0692;
    --txt-blue-color: #3A4DB1;
    --bg-second-color:#092C4C;
    --txt-color:  #5685B0;
    --txt-second-color: #ACC1D3;
    --blue-pale-color: #EFEFF1;


    --third-txt-color: #46433C;
    --fourth-txt-color: #33322E;
    --black-pale-color: #73726D;
    --gray-pale-color: #919294;

    --bg-red-color :#DE4C4C;
    --sky-color: #1AA6BF;


} 