<div class="flex flex-wrap justify-end gap-2 mb-4">
  <app-date-start-end [(startDate)]="selectedStartDate" [(endDate)]="selectedEndDate"></app-date-start-end>
  <app-input-search [searchMessage]="searchMessage" (searchChange)="onSearch($event)"></app-input-search>
  <button type="button" class="bg-sky-500/80 px-3 py-2 text-white rounded font-bold hover:bg-sky-500/60"
    (click)="newOrder()">Crear
    pedido</button>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">


      <!-- Número de Pedido Column -->
      <ng-container matColumnDef="id">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Pedido </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.id}} </td>
      </ng-container>

      <!-- Proveedor Column -->
      <ng-container matColumnDef="supplier">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Proveedor (Empresa) </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.supplier}} </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="supplierContact">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Proveedor Contacto</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.supplierContact}} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="productsTotal">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Productos pedidos </th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.productsTotal}} </td>
      </ng-container>

      <!-- Fecha de Creación Column -->
      <ng-container matColumnDef="priceTotal">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Total del pedido</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.priceTotal}} </td>
      </ng-container>
      <ng-container matColumnDef="timeOrder">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Fecha pedido</th>
        <td mat-cell *matCellDef="let pedido"> {{pedido.timeOrder | date: 'short'}} </td>
      </ng-container>
      <!-- Fecha de Creación Column -->
      <ng-container matColumnDef="status">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let pedido">
          @if(pedido.status== 'C'){
          Completado
          }@else if(pedido.status == 'P'){
          Pendiente
          }@else if(pedido.status == 'E'){
          En Proceso
          }@else if(pedido.status == 'C'){
          Completado
          }@else if(pedido.status == 'N'){
          No Pagado
          }

        </td>
      </ng-container>

      <!-- Last Login Column -->
      <ng-container matColumnDef="acciones">
        <th class="itemHeader" class="itemHeader" mat-header-cell *matHeaderCellDef>acciones</th>
        <td mat-cell *matCellDef="let item" class="actions-cell">
          <div class="actions-container">

            <button mat-icon-button class="btnVer" (click)="onViewDetails(item.id)">
              <mat-icon>visibility</mat-icon>
            </button>

            @if(item.status == 'P'){
            <button mat-icon-button class="btnEditar" (click)="modifyOrder(item.id)">
              <mat-icon>edit</mat-icon>
            </button>
            }
            @if(item.status == 'E'){
            <button mat-icon-button class="text-green-600 font-bold" (click)="reciveOrder(item.id)">
              <!-- <mat-icon>edit</mat-icon> -->
              Recibir
            </button>
            }
            @if(item.status == 'N'){
            <button mat-icon-button class="text-red-600 font-bold" (click)="reciveOrder(item.id)">
              <!-- <mat-icon>edit</mat-icon> -->
              Pagar
            </button>
            }
          </div>
        </td>
      </ng-container>

      <!-- Table Headers and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
    <mat-paginator [length]="totalItems" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
