<div class="flex flex-wrap flex-col">
  <div class="flex flex-wrap justify-end items-end gap-4 mb-4">

    <app-date-start-end [(startDate)]="selectedStartDate" [(endDate)]="selectedEndDate"></app-date-start-end>
    <app-input-search [searchMessage]="searchMessage" [(searchInput)]="searchInput"></app-input-search>
  </div>
  <div class="flex  flex-wrap justify-end items-end gap-4 mb-4">
    <button type="button" (click)="filterItems()"
      class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300">
      Buscar
    </button>

    <button type="button" (click)="clearFilters()"
      class="bg-gray-500 hover:bg-gray-600 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-300 ml-2">
      Limpiar
    </button>

  </div>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">

      <!-- Code Column -->
      <ng-container matColumnDef="id">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Key Column -->
      <ng-container matColumnDef="productName">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Nombre producto </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="supplierName">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Proveedor</th>
        <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="quantityInStock">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Cantidad en inventario </th>
        <td mat-cell *matCellDef="let element"> {{element.quantityInStock}} </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="stockMin">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Cantidad minima </th>
        <td mat-cell *matCellDef="let element"> {{element.stockMin}} </td>
      </ng-container>

      <!-- Min Stock Column -->
      <ng-container matColumnDef="status">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Estado </th>

        <td mat-cell *matCellDef="let item">
          @if(item.status == 'S'){
          Disponible
          }@else if(item.status =='E'){
          En proceso
          }@else if(item.status == 'P'){
          Registrado
          }@else if(item.status == 'R'){
          Agotado
          }
      </ng-container>


      <!-- Unit Cost Column -->
      <ng-container matColumnDef="updated_at">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Ultima Actualizacion </th>
        <td mat-cell *matCellDef="let element"> {{element.updated_at | date: 'short'}} </td>
      </ng-container>

      <!-- Last Login Column -->
      <ng-container matColumnDef="acciones">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let item" class="actions-cell">
          <div class="actions-container">
            <!-- <button mat-icon-button class="btnEditar" (click)="onEdit(item.id)"> -->
            <!--   <mat-icon>edit</mat-icon> -->
            <!-- </button> -->
            <!-- <button mat-icon-button class="btnEliminar" (click)="onDelete(item.id)"> -->
            <!--   <mat-icon>delete</mat-icon> -->
            <!-- </button> -->
          </div>
        </td>
      </ng-container>

      <!-- Table Headers and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
    <mat-paginator [length]="totalItems" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>
