<div class="flex flex-wrap justify-end gap-4 mb-4">
  <app-input-search [searchMessage]="searchMessage" (searchChange)="onSearch($event)"></app-input-search>
  <!-- <button type="button" class="btn-add" (click)="onOpenModal()"><mat-icon>add</mat-icon></button> -->
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">

      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Clave </th>
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Min Stock Column -->
      <ng-container matColumnDef="minStock">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Stock minimo </th>
        <td mat-cell *matCellDef="let element"> {{element.minStock}} </td>
      </ng-container>


      <!-- Unit Cost Column -->
      <ng-container matColumnDef="unitCost">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Costo de compra </th>
        <td mat-cell *matCellDef="let element"> {{element.unitCost}} </td>
      </ng-container>

      <!-- Selling Price Column -->
      <ng-container matColumnDef="sellingPrice">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Costo de venta </th>
        <td mat-cell *matCellDef="let element"> {{element.sellingPrice}} </td>
      </ng-container>

      <!-- Supplier Column -->
      <ng-container matColumnDef="supplier">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Proveedor </th>
        <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Expiration Date Column -->
      <ng-container matColumnDef="expirationDate">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Fecha de expiracion </th>
        <td mat-cell *matCellDef="let element"> {{element.expirationDate}} </td>
      </ng-container>

      <!-- Last Restocked Column -->
      <ng-container matColumnDef="lastRestocked">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Ultima reposicion</th>
        <td mat-cell *matCellDef="let element"> {{element.lastRestocked}} </td>
      </ng-container>

      <!-- Last Login Column -->
      <ng-container matColumnDef="acciones">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let item" class="actions-cell">
          <div class="actions-container">
            <!-- <button mat-icon-button class="btnEditar" (click)="onEdit(item.id)"> -->
            <!--   <mat-icon>edit</mat-icon> -->
            <!-- </button> -->
            <!-- <button mat-icon-button class="btnEliminar" (click)="onDelete(item.id)"> -->
            <!--   <mat-icon>delete</mat-icon> -->
            <!-- </button> -->
          </div>
        </td>
      </ng-container>

      <!-- Table Headers and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
  </div>

</div>
