.layout{
    margin: 20px;
}


.container-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  20px 0;


    .container-info{
        background-color: rebeccapurple;
    }

    .container-imgPrincipal{
        background-color: yellow;
        padding: 20px;
    }
}

.wrapperProducto{
    min-height: 100vh;
    gap: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;


    .Categorias{

    }

    .product-container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;


        .product-card{
            width: 260px;
            height: 310px;
            background-color: white;
            padding: 10px;
            border: solid 1px;
        }
    }
}



.wrapperImg{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imagenProducto{
    height: auto;
    width: 50%;
}




// .layout{
//     margin: 30px;
// }
// .wrapperProductos{
//     background-color: red;
//     display: flex;
// }

// .product-container{
//     display: flex;
//     background-color: rebeccapurple;
//     padding: 30px;
//     gap: 30px;
//     flex-wrap: wrap;
// }

// .product-card{
//     background-color: rgb(255, 255, 255);
//     width: 300px;
// }




// .imagenProducto{
//     height: auto;
//     width: 50%;
// }
// .contenedor{
//     background-color: var(--primary-color);
//     margin: 20px 450px;
//     height: 400px;
//     width: 400px;
//     color: var(--bg-color);
//     font-family:'PoppinsBold';
//     font-size: 20px;
//     padding: 40px;
   
// }
// p{
//     font-size: 20px;
//     font-family: 'Poppins';
// }
// button{
//     color: var(--fourth-txt-color);
//     height: 50px;
//     background-color: var(--white-color);
//     border-color: var(--white-color);
//     width: 200px;
//     font-size: 20px;
// }
// img{
//     margin: -400px  1100px; 
//     height: 400px;
//     width: 400px;   
//     float: left;
// }
// .Categorias{
//     font-size: 25px;
//     margin: 20px ;
//     padding: 30px;
// }
// h2{
//     color: var(--txt-blue-color);
//     text-align: center;
//     font-family: 'PoppinsBold';
// }



// .product-container {
//     display: flex;
//     justify-content: center;
//     padding: 40px;
//     background-color: red;

// }

// .product-card {
//     background-color: white;
//     border-radius: 8px;
//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
//     padding: 16px;
//     text-align: center;
//     width: 200px; 
// }
// .Titulo {
//     margin: px;
//     font-size: 20px;
//     padding: 5px  20px;
//     text-align: justify;
    
// }
// .Precio, .Disponible, .Codigo {
//     font-size: 14px;
//     color: #555;
//     text-align: left;
// }
// .imagenProducto{
//     height: 30%;

// }