<div>
  <div class="container-principal">
    <div class="container-info">
      <h1>{{ NombreEmpresa }}</h1>
      <p class="DescripcionP">
        Todo lo que necesitas para construir tus sueños, con herramientas de
        confianza de la mas alta calidad.
      </p>
      <button>Ver productos</button>
    </div>

    <div class="container-imgPrincipal">
      <img src="img/image.png" alt="" />
    </div>
  </div>

  <section class="Lista_de_productos">
    <h2 class="SubtituloL">Lista de productos</h2>
    <br />
    <div class="wrapperProducto">
      <div class="Categorias">
        <p class="font-bold text-lg">Categorias</p>
        <button type="button" class="mb-4 text-left hover:font-medium" (click)="selectCategory('all')">Todos</button>
        @for (categoria of aItemsCategory; track categoria.id) {
        <button type="button" class="mb-4 text-left hover:font-medium" (click)="selectCategory(categoria.id)">
          {{ categoria.name }}
        </button>
        }
      </div>

      <div class=" product-container">
        @for(item of productos; track item.id){
        <div class="product-card">
          <div class="wrapperImg">
            <img class="imagenProducto" [src]="item.img" alt="Herramienta" />
          </div>
          <h2 class="Titulo">{{item.productName}}</h2>
          <p class="-mb-8">Q{{item.salePrice}}</p>
          <p class="">Disponible: <span>{{item.quantityInStock}}</span></p>
          <p class="">Código: <span>{{item.code}}</span></p>
          <p class="">Clave: <span>{{item.key}}</span></p>
        </div>
        }
      </div>
    </div>
  </section>
</div>
