div.sale-info {
  font-family: "PoppinsRegular";
  padding-top: 30px;
  padding-bottom: 25px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'PoppinsBold';

  .info-enterprise {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    .logo {
      max-width: 80px; // Ajusta el tamaño del logo
    }
  }
}

.header {
  margin: 10px 0;
  margin-left: 5%;

  p {
    margin: 5px 0; // Espaciado entre líneas

    strong {
      font-family: "PoppinsBold";
    }
  }
}

.product-table-container {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 20px;
}

.product-table {
  width: 95%;
  border-collapse: collapse;
}

.table-header, .table-row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid var(--txt-color);
}

.table-header {
  background-color: var(--txt-second-color); 
  font-weight: bold;
}

.table-row {
  background-color: var(--blue-pale-color); 
}

.table-row:nth-child(even) {
  background-color: var(--blue-pale-color); 
}

.table-header span, .table-row span {
  flex: 1;
  text-align: center;
}

.totals {
  text-align: center; 
  margin-top: 10px; 
  font-size: 1.1em;
}

.totals div, hr{
  margin-top: .3em;
}

.totals strong {
  color: var(--black-txt-color); 
}

.totals div:last-child strong {
  color: var(--bg-red-color ); 
}

.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}

.custom-button {
  background-color: var(--txt-blue-color) ;
  color: var(--white-color) !important;
  border-radius: 5px; 
  padding: 5px;
  font-size: 1.3em;
}

.custom-button:hover {
  background-color: var(--txt-color);
  color: var(--white-color) !important;
}

h4 {
  flex: 1;
  text-align: center; 
  font-size: 2em;
  color: var(--primary-color);
  font-family: "PoppinsBold";
}

p {
  margin-left: 5%;
  margin-top: .5em;
  margin-bottom: .5em;

  strong {
    font-family: "PoppinsBold";
  }
}

