<div class="sale-info" id="receiptContent">

  <div class="head">
    <section class="info-enterprise">
      <img [src]="logocondor" alt="Logo" class="logo">
      <p><strong>{{ enterpriseInfor?.name }}</strong></p>
    </section>
    <h4 class="receipt-title">Recibo de Venta</h4>
  </div>
  <div class="header">
      <p><strong>Teléfono:</strong> {{ enterpriseInfor?.phoneNumber }}</p>
      <p><strong>E-mail:</strong> {{ enterpriseInfor?.email }}</p>
      <p><strong>Dirección:</strong> {{ enterpriseInfor?.address }}</p>
  </div><hr>

  <p><strong>Vendedor:</strong> {{ getNameUser(aSaleDetail.iD_User) }}</p>
  <p><strong>Fecha de venta:</strong> {{ aSaleDetail.saleDate | date: 'short' }}</p>

  <div class="product-table-container">
    <div class="product-table">
      <!-- Cabecera de la tabla -->
      <div class="table-header">
        <span>Producto</span>
        <span>Cantidad</span>
        <span>Precio Unitario</span>
        <span>Descuento</span>
        <span>Total</span>
      </div>

      <!-- Usar *ngFor para iterar sobre productos -->
      <div class="table-row" *ngFor="let product of aSaleDetail.products">
        <span>{{ product.nameProduct }}</span>
        <span>{{ product.quantity }}</span>
        <span>Q. {{ product.unit_price | number:'1.2-2' }}</span>
        <span>Q. {{ product.discount | number:'1.2-2' }}</span>
        <span>Q. {{ (product.unit_price * product.quantity - product.discount * product.quantity) | number:'1.2-2' }}</span>
      </div>
    </div>
  </div>
  
  <div class="totals">
    <div><strong>SubTotal:</strong> Q{{ getSubtotal() | number:'1.2-2' }}</div>
    <div><strong>Descuento:</strong> Q{{ getDescuento() | number:'1.2-2' }}</div>
    <hr>
    <div><strong>TOTAL:</strong> Q{{ aSaleDetail.total | number:'1.2-2' }}</div>
  </div>

</div>

<div class="button-container">
  <button mat-raised-button class="custom-button" (click)="printReceipt()">Imprimir recibo</button>
</div>