.container {
  background-color: #FAF8F4;

  .title {
    font-family: 'PoppinsBold';
  }

  .wrapperForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .wrapperRowForm {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .wrapperInput {
        display: flex;
        flex-direction: column;
        width: 100%;

        input,
        select {
          width: 100%;
          border: solid #ACC2D3 1px;
          padding: 5px 10px;
        }

        .wrapperImg {
          width: 30%;
        }
      }
    }
  }

  .btnCancel {
    background-color: var(--bg-red-color);
    color: white !important;
    border-radius: 5px !important;
  }

  .btnAccept {
    background-color: #3A4DB1;
    color: white;
    border-radius: 5px;
  }

  label {
    font-family: 'PoppinsMedium';
  }
}
