<mat-toolbar class="nav">
  <div class="nav-logo">
    <button mat-icon-button aria-label="Menu icon" (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <img [src]="logocondor" class="logo" alt="Logo" />
  </div>
  <div class="wrapper-profile">
    <mat-icon>sms</mat-icon>
    <div>
      <img class="userprofile" [src]="userInfor?.profile" alt="">
    </div>
    <div class="wrapper-names">
      <span class="user-name">{{userInfor?.firstname}}</span>
      <span class="user-role">{{userInfor?.role}}</span>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container autosize="true">
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <mat-nav-list>
      @for(item of menuItems(); track item.label){

      <a class="item" mat-list-item [routerLink]="item.route" (click)="toggleNested(item)"
        routerLinkActive="active-link" #rla="routerLinkActive" [activated]="rla.isActive">
        <mat-icon matListItemIcon class="item-icon" [class.activeIcon]="rla.isActive">{{item.icon}}</mat-icon>
        <span matListItemTitle class="item-title" [class.activeTitle]="rla.isActive">{{item.label}}</span>
        @if(item.subItems ){

        <span matListItemMeta>
          <mat-icon class="item-icon" [class.activeIcon]="rla.isActive">{{ isItemExpanded(item) && nestedMenuOpen() ?
            'expand_less' : 'expand_more'
            }}</mat-icon>
        </span>
        }
      </a>


      @if(item.subItems && nestedMenuOpen() && isItemExpanded(item)){
      <div>
        @for(subItem of item.subItems; track subItem.label){
        <a class="subItem" mat-list-item [routerLink]="[item.route, subItem.route]" routerLinkActive="activeSubItem"
          #rla="routerLinkActive" [activated]="rla.isActive">
          <mat-icon matListItemIcon [class.activeSubItemIcon]="rla.isActive">{{subItem.icon}}</mat-icon>
          <span class="itemTitle" matListItemTitle [class.activeSubItemTitle]="rla.isActive">{{subItem.label}}</span>
        </a>
        }
      </div>
      }
      }

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p class="titlePage">{{titlePage()}}</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
