.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: var(--bg-color);



  .container-main {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-grow: 1;
    min-height: 0;
  }

  .sidebar {
    font-family: "PoppinsBold";
    width: 250px;
    background-color: var(--txt-orange-color);
    padding: 20px;
    color: var(--bg-color);

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 10px 0;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        .submenu {
          background-color: var(--bg-color);
          color: var(--fourth-txt-color);
          margin-top: 10px;
          padding: 10px;
          border-radius: 5px;

          ul {
            list-style: none;
            padding: 0;

            li {
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}
