.title{
  background-color: var( --bg-black-color );
  color: rgb(252, 122, 0) !important;
  font-family: 'PoppinsBold';
}

.wrapperForm{
  background-color: var( --bg-orange-color );
  color: rgb(253, 93, 0);
  display: flex;
  flex-direction: column;
  gap: 20px;

  .wrapperRowForm{
    display: flex;
    flex-direction: row;
    gap: 10px;

    .wrapperInput{
      display: flex;
      flex-direction: column;
      width: 100%;

      input{
        width: 100%;
      }
    };
  };
};

.btnCancel{
  background-color: var( --bg-red-color );
  color: rgb(250, 250, 250) !important;
}

.wrapperInput{
  background-color: rgb(241, 223, 119);
  display: flex;
  flex-direction: column;
  width: 100%;
}
label{
  font-family: 'PoppinsMedium';
}


