
<div class="contenedor">
    <br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{empresael}}</p>
    <p>{{empresac}}</p><br>
</div>
<div class="contenedor1">
    <p>{{direccion}} <img class="icon-location" src="/public/icon/mdi_location.png" alt=" "></p><br>
    <p>{{tel}} <img class="icon-call" src="/public/icon/fluent_call-24-filled.png" alt=" "></p><br>
    <p>{{correo}} <img class="icon-gmail" src="/public/icon/bxl_gmail.png" alt=" "></p><br>
</div>
<div class="contenedor2">
    <img class="facebook" src="/public/icon/logos_facebook.png" alt=" "> 
    <img class="whatsap" src="/public/icon/logos_whatsapp-icon.png" alt=" ">
</div>
<div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d341.75252224549365!2d-91.18372883453088!3d14.774575254161174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85894d0066e73e73%3A0x62f69d88123fdf6f!2sEL%20CONDOR!5e0!3m2!1ses!2sgt!4v1724903010877!5m2!1ses!2sgt" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

