<!-- dashboard.component.html -->


<div class="home-content">
  <div class="overview-boxes">
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Usuarios</div>
        <div class="number">5</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <!-- <span class="text">Desde Ayer</span> -->
        </div>
      </div>
      <i class='bx bx-cart-alt cart'></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Ventas</div>
        <div class="number">7</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <!-- <span class="text">Desde Ayer</span> -->
        </div>
      </div>
      <i class='bx bxs-cart-add cart two'></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Productos</div>
        <div class="number">15</div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <!-- <span class="text">Desde Ayer</span> -->
        </div>
      </div>
      <i class='bx bxs-cart-download cart four'></i>
    </div>
  </div>

  <!--==========================================================================================================================-->
  <div class="sales-boxes flex flex-col">
    <div class="recent-sales box ">
      <div class="title">Productos</div>
      <br>
      <div class="sales-details">
        <div class="example-container mat-elevation-z8">
          <div class="example-table-container">
            <table mat-table [dataSource]="dataSourceProductos" class="example-table" matSort matSortActive="created"
              matSortDisableClear matSortDirection="desc">

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let item">{{item.id}}</td>
              </ng-container>

              <!-- Foto Column -->
              <ng-container matColumnDef="img">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Imagen</th>
                <td mat-cell *matCellDef="let item"><img class="imgFoto" [src]="item.img" alt=""></td>
              </ng-container>

              <!-- Nombre Column -->
              <ng-container matColumnDef="nombre">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let item">{{item.nombre}}</td>
              </ng-container>

              <!-- Categoría Column -->
              <ng-container matColumnDef="categoria">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Categoria</th>
                <td mat-cell *matCellDef="let item">{{item.categoria}}</td>
              </ng-container>

              <!-- Estado Column -->
              <ng-container matColumnDef="estado">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let item">{{item.estado}}</td>
              </ng-container>

              <!-- Unidades Column -->
              <ng-container matColumnDef="unidad">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Unidades</th>
                <td mat-cell *matCellDef="let item">{{item.unidad}}</td>
              </ng-container>

              <!-- Precio Compra Column -->
              <ng-container matColumnDef="compra">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Precio Compra</th>
                <td mat-cell *matCellDef="let item">{{item.compra}}</td>
              </ng-container>

              <!-- Proveedor Column -->
              <ng-container matColumnDef="proveedor">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Proveedor</th>
                <td mat-cell *matCellDef="let item">{{item.proveedor}}</td>
              </ng-container>

              <!-- Table Headers and Rows -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsProductos;"></tr>
            </table>

            <div class="button">
              <a (click)="navigateToProduct()">Ver Más</a>
            </div>


          </div>
        </div>
      </div>

      <br>


    </div>



    <!--============================================================================================================-->
    <!-- <div class="top-sales box">
        <div class="title">Productos Mas Vendidos</div>
        <ul class="top-sales-details">
        <li>
        <a href="#">
            <img src="images/sunglasses.jpg" alt="">
            <span class="product">Martillo</span>
        </a>
        <span class="price">Q7.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/jeans.jpg" alt="">
            <span class="product">Taladro </span>
        </a>
        <span class="price">Q17.00</span>
        </li>
        <li>
        <a href="#">
        <img src="images/nike.jpg" alt="">
            <span class="product">Cemento</span>
        </a>
        <span class="price">Q4.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/scarves.jpg" alt="">
            <span class="product">Destornillador</span>
        </a>
        <span class="price">Q2.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/blueBag.jpg" alt="">
            <span class="product">Pinturas Arco</span>
        </a>
        <span class="price">Q6.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/bag.jpg" alt="">
            <span class="product">Tubo PVC</span>
        </a>
        <span class="price">Q5.00</span>
        <li>
        <a href="#">
            <img src="images/addidas.jpg" alt="">
            <span class="product">Hierro</span>
        </a>
        <span class="price">Q45.00</span>
        </li>
<li>
        <a href="#">
        <img src="images/shirt.jpg" alt="">
            <span class="product">Tubo PVC 2 in</span>
        </a>
        <span class="price">Q5.00</span>
        </li>
        </ul>
    </div>
    </div> -->

    <!--:::::::::::::::::::::::::::::::::::::::::::-->
    <br>
    <!--============================================================================================================-->
    <!--============================================PROVEEDORES======================================================-->
    <!--============================================================================================================-->
    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="title">Proveedores</div>
        <br>
        <div class="example-container mat-elevation-z8">
          <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" class="example-table" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let item">{{item.id}}</td>
              </ng-container>

              <!-- Foto Column -->


              <!-- Nombre Column -->
              <ng-container matColumnDef="nombre">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let item">{{item.nombre}}</td>
              </ng-container>

              <!-- Categoría Column -->
              <ng-container matColumnDef="categoria">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Categoria</th>
                <td mat-cell *matCellDef="let item">{{item.categoria}}</td>
              </ng-container>

              <!-- Estado Column -->
              <ng-container matColumnDef="estado">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let item">{{item.estado}}</td>
              </ng-container>

              <!-- Unidades Column -->
              <ng-container matColumnDef="unidad">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Unidades</th>
                <td mat-cell *matCellDef="let item">{{item.unidad}}</td>
              </ng-container>

              <!-- Precio Compra Column -->
              <ng-container matColumnDef="compra">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Precio Compra</th>
                <td mat-cell *matCellDef="let item">{{item.compra}}</td>
              </ng-container>

              <!-- Proveedor Column -->
              <ng-container matColumnDef="proveedor">
                <th class="itemHeader" mat-header-cell *matHeaderCellDef>Proveedor</th>
                <td mat-cell *matCellDef="let item">{{item.proveedor}}</td>
              </ng-container>

              <!-- Table Headers and Rows -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="button">
            <a href="#">Ver Mas</a>
          </div>
        </div>


        <!-- <div>
                <h1>PROVEEDORES</h1>
                <app-proveedore></app-proveedore>
            </div> -->
      </div>


      <!---------------------------------------------------------------------------------------------------------------->

      <!--============================================================================================================-->
      <!-- <div class="top-sales box">
            <div class="title">Stock</div>
            <ul class="top-sales-details">
            <li>
            <a href="#">
                <img src="images/sunglasses.jpg" alt="">
                <span class="product">Martillo</span>
            </a>
            <span class="price">7</span>
            </li>
            <li>
            <a href="#">
                <img src="images/jeans.jpg" alt="">
                <span class="product">Tubo PVC </span>
            </a>
            <span class="price">7</span>
            </li>
            <li>
            <a href="#">
            <img src="images/nike.jpg" alt="">
                <span class="product">Cemento</span>
            </a>
            <span class="price">4</span>
            </li>
            <li>
            <a href="#">
                <img src="images/scarves.jpg" alt="">
                <span class="product">Taladro</span>
            </a>
            <span class="price">2</span>
            </li>
            <li>
            <a href="#">
                <img src="images/blueBag.jpg" alt="">
                <span class="product">Alicate</span>
            </a>
            <span class="price">6</span>
            </li>
            <li>
            <a href="#">
                <img src="images/bag.jpg" alt="">
                <span class="product">Hierro</span>
            </a>
            <span class="price">5</span>
            <li>
            <a href="#">
                <img src="images/addidas.jpg" alt="">
                <span class="product">Tornillos</span>
            </a>
            <span class="price">45</span>
            </li>
    <li>
            <a href="#">
            <img src="images/shirt.jpg" alt="">
                <span class="product">Candados</span>
            </a>
            <span class="price">5</span>
            </li>
            </ul>
        </div> -->
    </div>
  </div>
