<div class="home-content">
    <div class="overview-boxes">
    <div class="box">
        <div class="right-side">
        <div class="box-topic">Usuarios</div>
        <div class="number">40,876</div>
        <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Desde Ayer</span>
        </div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
    </div>
    <div class="box">
        <div class="right-side">
        <div class="box-topic">Ventas</div>
        <div class="number">38,876</div>
        <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Desde Ayer</span>
        </div>
        </div>
        <i class='bx bxs-cart-add cart two' ></i>
    </div>
    <div class="box">
        <div class="right-side">
        <div class="box-topic">Productos</div>
        <div class="number">11,086</div>
        <div class="indicator">
            <i class='bx bx-down-arrow-alt down'></i>
            <span class="text">Desde Ayer</span>
        </div>
        </div>
        <i class='bx bxs-cart-download cart four' ></i>
    </div>
    </div>

    <!--==========================================================================================================================-->
    <div class="sales-boxes">
    <div class="recent-sales box">
        <div class="title">Ventas Recientes</div>
        <div class="sales-details">
        <ul class="details">
            <li class="topic">Fecha</li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
            <li><a href="#">02 Ene 2021</a></li>
        </ul>
        <ul class="details">
        <li class="topic">Realizado por</li>
        <li><a href="#">Alex Matin</a></li>
        <li><a href="#">David Hernandez</a></li>
        <li><a href="#">Angel Cruz</a></li>
        <li><a href="#">Diana Sabaj</a></li>
        <li><a href="#">Martin Alvarez</a></li>
        <li><a href="#">Damian cruz</a></li>
        <li><a href="#">Aiana Alonso</a></li>
        <li><a href="#">Rexel Baltazar</a></li>
        <li><a href="#">Tiana Lopez</a></li>
        </ul>
        <ul class="details">
        <li class="topic">Venta</li>
        <li><a href="#">Entregado</a></li>
        <li><a href="#">Pendiente</a></li>
        <li><a href="#">Devuelto</a></li>
        <li><a href="#">Entregado</a></li>
        <li><a href="#">Pendiente</a></li>
        <li><a href="#">Devuelto</a></li>
        <li><a href="#">Entregado</a></li>
        <li><a href="#">Pendiente</a></li>
        <li><a href="#">Entregado</a></li>
        </ul>
        <ul class="details">
        <li class="topic">Total</li>
        <li><a href="#">Q204.98</a></li>
        <li><a href="#">Q24.55</a></li>
        <li><a href="#">Q25.88</a></li>
        <li><a href="#">Q170.66</a></li>
        <li><a href="#">Q56.56</a></li>
        <li><a href="#">Q44.95</a></li>
        <li><a href="#">Q67.33</a></li>
        <li><a href="#">Q23.53</a></li>
        <li><a href="#">Q46.52</a></li>
        </ul>
        </div>
        <div class="button">
        <a href="#">Ver Mas</a>
        </div>
    </div>
    

    
    <!--============================================================================================================-->
    <div class="top-sales box">
        <div class="title">Productos Mas Vendidos</div>
        <ul class="top-sales-details">
        <li>
        <a href="#">
            <img src="images/sunglasses.jpg" alt="">
            <span class="product">Martillo</span>
        </a>
        <span class="price">Q7.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/jeans.jpg" alt="">
            <span class="product">Taladro </span>
        </a>
        <span class="price">Q17.00</span>
        </li>
        <li>
        <a href="#">
        <img src="images/nike.jpg" alt="">
            <span class="product">Cemento</span>
        </a>
        <span class="price">Q4.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/scarves.jpg" alt="">
            <span class="product">Destornillador</span>
        </a>
        <span class="price">Q2.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/blueBag.jpg" alt="">
            <span class="product">Pinturas Arco</span>
        </a>
        <span class="price">Q6.00</span>
        </li>
        <li>
        <a href="#">
            <img src="images/bag.jpg" alt="">
            <span class="product">Tubo PVC</span>
        </a>
        <span class="price">Q5.00</span>
        <li>
        <a href="#">
            <img src="images/addidas.jpg" alt="">
            <span class="product">Hierro</span>
        </a>
        <span class="price">Q45.00</span>
        </li>
<li>
        <a href="#">
        <img src="images/shirt.jpg" alt="">
            <span class="product">Tubo PVC 2 in</span>
        </a>
        <span class="price">Q5.00</span>
        </li>
        </ul>
    </div>
    </div>

    <!--:::::::::::::::::::::::::::::::::::::::::::-->
    <br>
<!--============================================================================================================-->
<!--============================================INVENTARIO======================================================-->
<!--============================================================================================================-->
    <div class="sales-boxes">
        <div class="recent-sales box">
            <div class="title">Inventario</div>
            <div class="sales-details">
            <ul class="details">
                <li class="topic">Id</li>
                <li><a href="#">0001</a></li>
                <li><a href="#">0002</a></li>
                <li><a href="#">0003</a></li>
                <li><a href="#">0004</a></li>
                <li><a href="#">0005</a></li>
                <li><a href="#">0006</a></li>
                <li><a href="#">0007</a></li>
                <li><a href="#">0008</a></li>
                <li><a href="#">0009</a></li>
            </ul>
            <ul class="details">
            <li class="topic">Nombre</li>
            <li><a href="#">Martillo</a></li>
            <li><a href="#">Taladro</a></li>
            <li><a href="#">Cemento</a></li>
            <li><a href="#">Tubos PVC</a></li>
            <li><a href="#">Cables Calibre 17</a></li>
            <li><a href="#">Tijeras</a></li>
            <li><a href="#">Candado</a></li>
            <li><a href="#">Pintura CELCO</a></li>
            <li><a href="#">Asistin</a></li>
            </ul>
            <ul class="details">
            <li class="topic">Categoría</li>
            <li><a href="#">Herramientas Manuales</a></li>
            <li><a href="#">Herramientas Eléctricas</a></li>
            <li><a href="#">Materiales de Construcción</a></li>
            <li><a href="#">Fontanería</a></li>
            <li><a href="#">Electricidad</a></li>
            <li><a href="#">Jardinería</a></li>
            <li><a href="#">Seguridad</a></li>
            <li><a href="#">Pintura y Acabados</a></li>
            <li><a href="#">Productos de Limpieza</a></li>
            </ul>
            <ul class="details">
            <li class="topic">Proveedor</li>
            <li><a href="#">ACD</a></li>
            <li><a href="#">BCD</a></li>
            <li><a href="#">NBG</a></li>
            <li><a href="#">FGZ</a></li>
            <li><a href="#">FTG</a></li>
            <li><a href="#">ACR</a></li>
            <li><a href="#">WTR</a></li>
            <li><a href="#">HTY</a></li>
            <li><a href="#">TRE</a></li>
            </ul>
            </div>
            <div class="button">
            <a href="#">Ver Mas</a>
            </div>
        </div>
        
    
        <!---------------------------------------------------------------------------------------------------------------->
        
        <!--============================================================================================================-->
        <div class="top-sales box">
            <div class="title">Stock</div>
            <ul class="top-sales-details">
            <li>
            <a href="#">
                <img src="images/sunglasses.jpg" alt="">
                <span class="product">Martillo</span>
            </a>
            <span class="price">7</span>
            </li>
            <li>
            <a href="#">
                <img src="images/jeans.jpg" alt="">
                <span class="product">Tubo PVC </span>
            </a>
            <span class="price">7</span>
            </li>
            <li>
            <a href="#">
            <img src="images/nike.jpg" alt="">
                <span class="product">Cemento</span>
            </a>
            <span class="price">4</span>
            </li>
            <li>
            <a href="#">
                <img src="images/scarves.jpg" alt="">
                <span class="product">Taladro</span>
            </a>
            <span class="price">2</span>
            </li>
            <li>
            <a href="#">
                <img src="images/blueBag.jpg" alt="">
                <span class="product">Alicate</span>
            </a>
            <span class="price">6</span>
            </li>
            <li>
            <a href="#">
                <img src="images/bag.jpg" alt="">
                <span class="product">Hierro</span>
            </a>
            <span class="price">5</span>
            <li>
            <a href="#">
                <img src="images/addidas.jpg" alt="">
                <span class="product">Tornillos</span>
            </a>
            <span class="price">45</span>
            </li>
    <li>
            <a href="#">
            <img src="images/shirt.jpg" alt="">
                <span class="product">Candados</span>
            </a>
            <span class="price">5</span>
            </li>
            </ul>
        </div>
        </div>
</div>