<div class="container">
  <main class="main-content">
    <header>
      <h1>Configuración/Usuarios</h1>
    </header>

    <div class="controls">
      <button class="pdf-button" (click)="logFieldName('PDF')">PDF</button>
      <input 
        type="text" 
        placeholder="Fecha" 
        class="date-input" 
        (click)="logFieldName('Fecha')" 
      />
      <select class="state-select" (click)="logFieldName('Estado')">
        <option>Estado</option>
        <!-- Opciones -->
      </select>
      <select class="role-select" (click)="logFieldName('Rol')">
        <option>Rol</option>
        <!-- Opciones -->
      </select>
      <div>
        <app-input-search
          [searchMessage]="searchMessage"
          (searchChange)="onSearch($event)"
          (click)="logFieldName('Buscar')"
        ></app-input-search>
      </div>
      <button class="add-user-button" (click)="logFieldName('Agregar Usuario')">+</button>
    </div>
    

    <div class="table-container">
      <table class="user-table">
        <thead>
          <tr>
            <th>NO</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Última actividad</th>
            <th>Estado</th>
            <th>Creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (user of users; track user.id){
          <tr>
            <td>{{user.id}}</td>
            <td><img src="/icon/USUARIO LOGO.png" alt="User Photo" /></td>
            <td>{{user.firstname}}</td>
            <td>{{user.role}}</td>
            <td>26/8/2024 3:23</td>
            <td>activo</td>
            <td>26/8/2024 10:23</td>
            <td class="actions">
              <button class="more-options" (click)="toggleDropdown($event)">⋮</button>
              <div class="dropdown">
                <a (click)="userDetail(user.id)">Detalles</a>
                <a (click)="editarUser(user.id)">Editar</a>
                <a class="delete">Eliminar</a>
              </div>
            </td>
          </tr>
          }
          <!-- Más filas -->
        </tbody>
      </table>
    </div>
    
  </main>
  <div *ngIf="isOpen"><app-user-detail [IdUser] = "IdUserSelect" (closeModalvalue)="closeModal()"></app-user-detail></div>
  
</div>
