<div class="container">
  <main class="main-content">
    <header>
      <h1>Configuración/Usuarios</h1>
    </header>

    <div class="controls">
      <button class="pdf-button">PDF</button>
      <input type="text" placeholder="Fecha" class="date-input" />
      <select class="state-select">
        <option>Estado</option>
        <!-- Opciones -->
      </select>
      <select class="role-select">
        <option>Rol</option>
        <!-- Opciones -->
      </select>
      <div>
        <app-input-search
          [searchMessage]="searchMessage"
          (searchChange)="onSearch($event)"
        ></app-input-search>
      </div>
      <button class="add-user-button" (click)="crearUsuario()">+</button>
    </div>

    <table class="user-table">
      <thead>
        <tr>
          <th>NO</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Rol</th>
          <th>Última actividad</th>
          <th>Estado</th>
          <th>Creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td><img src="/icon/USUARIO LOGO.png" alt="User Photo" /></td>
          <td>Edwin Alvarez</td>
          <td>Administrador</td>
          <td>26/8/2024 3:23</td>
          <td>activo</td>
          <td>26/8/2024 10:23</td>
          <td class="actions">
            <button class="more-options">⋮</button>
            <div class="dropdown">
              <a href="#">Detalles</a>
              <a href="#">Editar</a>
              <a href="#" class="delete">Eliminar</a>
            </div>
          </td>
        </tr>
        <!-- Más filas -->
      </tbody>
    </table>
  </main>
</div>
