<div class="split-screen">
    <div class="product-container">
        <div *ngFor="let producto of productos" class="product-card">
            <div class="wrapperImg">
                <img class="imagenProducto" [src]="producto.imagen" alt="{{ producto.nombre }}" /> 
            </div>
            <h2 class="Titulo">{{ producto.nombre }}</h2>
            <p class="Disponible">Disponible: <span>{{ producto.disponible }}</span></p>
            <p class="Codigo">Código: <span>{{ producto.codigo }}</span></p>
            <p class="Precio">Q{{ producto.precio }}</p>
            <button class="agregar-producto" (click)="agregarProducto(producto)">Agregar Producto</button>
        </div>
    </div>
</div>
