<div class="flex flex-wrap justify-end gap-2 mb-4">
  <app-input-search [searchMessage]="searchMessage" (searchChange)="onSearch($event)"></app-input-search>
  <button type="button" class="btn-add" (click)="onOpenModal()"><mat-icon>add</mat-icon></button>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
      matSortDirection="desc">

      <ng-container matColumnDef="id">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let item">{{item.id}}</td>
      </ng-container>


      <!-- Nombre de proveedor Column -->
      <ng-container matColumnDef="nombre">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Nombre de Proveedor </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- NIT Column -->
      <ng-container matColumnDef="nit">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> NIT </th>
        <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
      </ng-container>

      <!-- Persona de contacto Column -->
      <ng-container matColumnDef="contacto">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Persona de Contacto </th>
        <td mat-cell *matCellDef="let element"> {{element.contacto}} </td>
      </ng-container>

      <!-- Correo electrónico Column -->
      <ng-container matColumnDef="correo">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

      <!-- Teléfono Column -->
      <ng-container matColumnDef="telefono">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>


      <!-- Last Login Column -->
      <ng-container matColumnDef="acciones">
        <th class="itemHeader" mat-header-cell *matHeaderCellDef>acciones</th>
        <td mat-cell *matCellDef="let item" class="actions-cell">
          <div class="actions-container">
            <button mat-icon-button class="btnVer" (click)="onViewDetails(item.id)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button class="btnEditar" (click)="onEdit(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="btnEliminar" (click)="onDelete(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Table Headers and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>
  </div>

</div>
<mat-sidenav #sidenav mode="over" position="end" [opened]="false" class="custom-sidenav">
  <app-proveedor-detail-popup [id]="selectedId" (closeSidenav)="closeSidenav()"></app-proveedor-detail-popup>
 </mat-sidenav>
 
